.dap-breakpoints

.lsp-session*

ac-comphist.dat

auto-save-list/

bookmarks

company-statistics-cache.el

eclipse.jdt.ls

elpa/

elpy/

image-dired/

key-remap/

projectile-bookmarks.eld

projectile.cache

recentf

snippets/

straight/

transient/

workspace/
